<section>
  <h1><a href="#">pritishc.com</a></h1>
  <p>Welcome to my website. <a href="https://google.com/+PritishChakraborty08">Pritish Chakraborty</a> here!</p>
  <p>To know more about me, check out my <a href="/about/">about</a> page. For stuff I work on, check out my GitHub page <a href="https://github.com/PritishC">here</a>.</p>
  <p>DISCLAIMER: Most of the stuff on this blog, other than stuff sourced from outside, is my personal opinion. If you don't like what you see, you are free to browse to a different page!</p>
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
    <a href="/atom.xml"><img src="/images/social/rss.png" alt="RSS" /></a>
  </div>
</section>
